@model AppGoodFriendsMVC.Models.EditFriendViewModel
@{
  ViewData["Title"] = "Edit friend";
}

<div class="container px-4 py-4" id="add-edit-friend">
  <h2 class="pb-2 border-bottom">Add or edit a friend's details</h2>
  <p></p>
  <div class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5">
    <div class="col-md-7 col-lg-8">
      <form class="needs-validation" novalidate method="post">

        <input asp-for="FriendInputModel.FriendId" value="@Model.FriendInputModel.FriendId" type="hidden">
        <input asp-for="FriendInputModel.StatusIM" value="@Model.FriendInputModel.StatusIM" type="hidden">
        <input asp-for="FriendInputModel.AddressInputModel.AddressId"
          value="@Model.FriendInputModel.AddressInputModel.AddressId" type="hidden">
        <input asp-for="FriendInputModel.AddressInputModel.StatusIM"
          value="@Model.FriendInputModel.AddressInputModel.StatusIM" type="hidden">


        @if (Model.HasValidationErrors)
        {
          <div class="row g-3">
            @foreach (var item in Model.ValidationErrorMsgs)
            {
              <span class="alert alert-danger" role="alert">
                @item
              </span>
            }
          </div>
        }

        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder=""
              value="@Model.FriendInputModel.FirstName" asp-for="FriendInputModel.FirstName">
            <span asp-validation-for="FriendInputModel.FirstName" class="invalid-feedback"></span>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder=""
              value="@Model.FriendInputModel.LastName" asp-for="FriendInputModel.LastName">
            <span asp-validation-for="FriendInputModel.LastName" class="invalid-feedback"></span>
          </div>

          <div class="col-sm-6">
            <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com"
              value="@Model.FriendInputModel.Email" asp-for="FriendInputModel.Email">
            <span asp-validation-for="FriendInputModel.Email" class="invalid-feedback"></span>
          </div>



          <div class="col-sm-6">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday"
              value='@(Model.FriendInputModel.Birthday.HasValue ? Model.FriendInputModel.Birthday.Value.ToString("yyyy-MM-dd") : "")'
              asp-for="FriendInputModel.Birthday">
          </div>

          <div class="row g-3 visible">
            <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" class="form-control" id="address"
                value="@Model.FriendInputModel.AddressInputModel.StreetAddress"
                asp-for="FriendInputModel.AddressInputModel.StreetAddress">
              <span asp-validation-for="FriendInputModel.AddressInputModel.StreetAddress"
                class="invalid-feedback"></span>
            </div>

            <div class="col-md-3">
              <label for="zip" class="form-label">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder=""
                value="@Model.FriendInputModel.AddressInputModel.ZipCode"
                asp-for="FriendInputModel.AddressInputModel.ZipCode">
              <span asp-validation-for="FriendInputModel.AddressInputModel.ZipCode"
                class="invalid-feedback"></span>
            </div>

            <div class="col-md-4">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" value="@Model.FriendInputModel.AddressInputModel.City"
                asp-for="FriendInputModel.AddressInputModel.City">
              <span asp-validation-for="FriendInputModel.AddressInputModel.City" class="invalid-feedback"></span>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Country</label>
              <input type="text" type="text" class="form-control" id="country"
                value="@Model.FriendInputModel.AddressInputModel.Country"
                asp-for="FriendInputModel.AddressInputModel.Country">
              <span asp-validation-for="FriendInputModel.AddressInputModel.Country" class="invalid-feedback"></span>
            </div>
          </div>
        </div>



        <button class="w-100 btn btn-primary btn-lg my-4" type="submit" asp-controller="Friend"
          asp-action="Save">Save</button>
        @if (Model.FriendInputModel.StatusIM != AppGoodFriendsMVC.Models.StatusIM.Inserted)
        {
          <button class="w-100 btn btn-primary btn-lg my-4" type="submit" asp-controller="Friend"
            asp-action="Undo">Undo</button>
        }
        <a class="w-100 btn btn-primary btn-lg my-4" asp-controller="Friend" asp-action="Index"
          asp-route-id="@Model.FriendInputModel.FriendId">Back</a>

      </form>
    </div>
  </div>
</div>

@section Scripts
{
  <!-- -->
  <partial name="_ValidationScriptsPartial" />
}
